<h1> Recipe Index </h1><br>
<%@recipes.each do |recipe| %>
<a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a>
ingredients: <%=recipe.ingredients%>
Cook time: <%=recipe.cook_time%><br>
<%end%>
